fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
sqlalchemy
aiosqlite
asyncpg
croniter
watchdog
requests
httpx
aiohttp
aio-pika
pika
redis
sseclient-py
networkx
cachetools
pandas
plotly
numpy
minio
sentence-transformers[onnx]
dashscope
openai
vanna==0.7.9
chromadb
volcengine
mem0ai==1.0.1
thespian
PyYAML
python-jose
cryptography
beautifulsoup4
psycopg2-binary
pymysql
pyodbc
cx_Oracle
neo4j
optuna
scikit-learn
json5
